<div class="login-container">
  <mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="username"
            required
            placeholder="Ingrese usuario"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            placeholder="Ingrese contraseña"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>

        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
