<div class="login-container">
  <mat-card>
    <mat-card-title>Registro de Usuario</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="nombre" placeholder="Ingrese nombre">
          <mat-error *ngIf="registroForm.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" formControlName="apellido" placeholder="Ingrese apellido">
          <mat-error *ngIf="registroForm.get('apellido')?.hasError('required')">El apellido es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" formControlName="usuario" placeholder="Ingrese usuario">
          <mat-error *ngIf="registroForm.get('usuario')?.hasError('required')">El usuario es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="correo" placeholder="Ingrese correo">
          <mat-error *ngIf="registroForm.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
          <mat-error *ngIf="registroForm.get('correo')?.errors?.['email']">Correo inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Ingrese contraseña">
          <mat-error *ngIf="registroForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput type="password" formControlName="confirmarPassword" placeholder="Confirme contraseña">
          <mat-error *ngIf="registroForm.get('confirmarPassword')?.hasError('required')">Debes confirmar la contraseña</mat-error>
          <mat-error *ngIf="registroForm.get('confirmarPassword')?.hasError('passwordMismatch')">Las contraseñas no coinciden</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="registroForm.invalid">
          Registrarme
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>