.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.task-item.completed mat-checkbox {
  text-decoration: line-through;
  color: #9e9e9e;
}

.task-item:last-child {
  border-bottom: none;
}
